resources/target
*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store
resources/.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Cargo config
.cargo
resources/.cargo

# VS Code
.code-workspace

# IntelliJ
.idea